:root {
    --primary: #00712D;
    --bg: #C8DCCB;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Roboto", sans-serif;
    color : white;
    background-color: var(--bg);
    height: 4000px;
  }

  /* navbar navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: var(--primary);
    border-bottom: 1px solid var(--bg);
    height: 100px;
   
    /* agar position sticky */
    position: fixed;
    right: 0;
    left: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
}

.navbar .navbar-logo span {
    color: white;
}

.navbar .navbar-nav a {
    color: white;
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 1rem;
    font-weight: bold;
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid white;
    transform: scaleX(0);
    transition: 0.3s linear;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
  }

/* hero section */
/* hero section */
.hero {
   
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(../img/kebun.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    border-bottom: 30px solid var(--primary);
    
}

.hero .conten {
    margin-left: 30px;
    /* background-color: #347928; */
}

.hero .conten img {
    width: 400px;
    height: 250px;
    position: absolute;
    top :100px;
    left: 0;
}

.hero .conten h1{
    font-size: 4em;
    padding-top: 50px;
}

.hero .conten h1 span {
    color: var(--primary);
    text-shadow: 0 0 2px white;
}
.hero .conten p {
    font-size: 1.6rem;
    margin-top: 1rem;
line-height: 1.7rem;
font-weight: bold;
}

.hero aside img {
    /* background-color: white; */
    width: 800px;
    height: 800px;
    margin-right: -70px;
   padding-top: 100px;
}


/* promo section */
.promo,
.menu,.contact {
  padding: 8rem 7% 1.4rem;
}


.promo h2 {
    text-align: center;
    font-size:2.6rem;
    margin-bottom: 3rem;
    color: var(--primary);
    margin-top: 10px;
    
}

.promo .container {
    background-color: var(--bg);
    width: 400px;
    height: 500px;
    box-shadow: 0 0 1px  rgb(125, 123, 123);
    display: flex;
    margin-left: 50px;
}

.promo .container img {
    width: 300px;
    height: 300px;
    
    
}