:root {
    --primary: #008240;
    --bg: #C8DCCB;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    color: white;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Inter", sans-serif;
    color : white;
    background-color: var(--bg);
    height: fit-content;
  }

  /* navbar navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: var(--primary);
    border-bottom: 1px solid var(--bg);
    height: 100px;
   
    /* agar position sticky */
    position: fixed;
    right: 0;
    left: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 1rem;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
}

.navbar .navbar-logo span {
    color: white;
}

.navbar .navbar-nav {
    display: inline-block;
    margin-left: -400px;
    margin-top: .8rem;
}
.navbar .navbar-nav a {
    color: white;
    display: inline-block;
    font-size: 1rem;
    margin: 0 1.5rem;
    font-weight: 500;
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid white;
    transform: scaleX(0);
    transition: 0.3s linear;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
  }

  .navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
  }

  
#hamburger-menu {
    display: none;
  }

/* hero section */
/* hero section */
.hero {
   
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(../img/kebun.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    border-bottom: 30px solid var(--primary);
    
}

.hero .conten {
    margin-left: 30px;
    /* background-color: #347928; */
}

.hero .conten img {
    width: 400px;
    height: 250px;
    position: absolute;
    top :100px;
    left: 0;
}

.hero .conten h1{
    font-size: 4em;
    padding-top: 50px;
}

.hero .conten h1 span {
    color: var(--primary);
    text-shadow: 0 0 2px white;
    /* background-color: linear-gradient(bottom right,  var(--primary), rgb(177, 230, 42)
    , #1a1a1a);
     background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.hero .conten p {
    font-size: 1.6rem;
    margin-top: 1rem;
line-height: 1.7rem;
font-weight: bold;
}

.hero aside img {
    /* background-color: white; */
    width: 800px;
    height: 800px;
    margin-right: -70px;
   padding-top: 100px;
}


/* promo section */
.promo,
.menu,.contact {
  padding: 8rem 7% 1.4rem;
}


.promo h2,.menu h2 {
    text-align: center;
    font-size:2.6rem;
    margin-bottom: 3rem;
    color: var(--primary);
    margin-top: 10px;
    
}

.promo .row {
    display: flex;
    justify-content: space-around;
    
}

.promo .container-card {
    background-color: white;
    width: 400px;
    height: 600px;
    box-shadow: 0 0 1px  rgb(125, 123, 123);
    border-radius: 10px;
    color: black;
    transition: 0.5s ease;
    
}

.promo  .container-card:nth-child(1):hover,.promo  .container-card:nth-child(2):hover,.promo  .container-card:nth-child(3):hover{
    transform: scale(1.060);
}

.promo .container-card img {
    width: 370px;
    height: 400px;
    padding-top: 30px;
    margin: 0 auto;
    border-radius: 10px;
   margin-left :15px ;
}

 .promo .container-card h2 { 
    margin-left: -55px; 
    font-family: "Sour Gummy", sans-serif;
} 

.promo .container-card p {
   margin-top: -50px;
   margin-left: 20px;
   color: rgb(106, 106, 106);
   text-align: justify;
   padding: 0px 20px 50px 0px;
   font-family: "Sour Gummy", sans-serif;
} 

/* menu section */
/* menu section */

.menu {
    background-image: url(../img/menubg.jpg);
    /* background:linear-gradient(180deg,var(--primary),rgb(180, 253, 70)) ; */
    /* background-image: radial-gradient(ellipse farthest-corner at bottom left , #FC7300 , rgb(107, 127, 15) , green); */
    border-radius: 300px 300px 0 0;
    /* background-repeat: no-repeat; */
    margin-top: 100px;
    background-size: cover;
    /* background-position: top top; */

}

.menu h2{
    color: white;
    text-shadow: 2px 2px black ;
}
.menu .wrap{
    display: flex;
    justify-content: space-between;
  
}

.menu .wrap .card {
    background-color: aliceblue;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    border-radius: 10px;
}

.menu .wrap .card img {
    width: 250px;
    height: 300px;
    margin-top: 30px;
    border-radius: 10px;
    transition:  1s ease;
}

.menu .wrap .card {
    transition: 1s ease;
}

.menu .wrap .card:hover{
    background-color: #00712D;
    
    transform: scale(1.1);
    
}

.menu .wrap .card h3 {
    margin-top: 10px;
    color: black;
}

.menu .btn {
    width: fit-content ;
    background-color: var(--primary);
   margin: 50px auto;
   padding: 10px;
   border-radius: 10px;
   font-size: 1.2rem;
}

.menu .btn:hover {
    transform: scale(1.1);
}

/* morre info section */
.more {

    background-color: var(--primary);

}

.more .info1 {
    border-top: 2px dashed white;
}
.more .info1,.more .info2 {
    display: flex;
    align-items: center;
}

.more .info2  {
    border-bottom: 2px dashed white;
}
.more .info1 img , .more .info2 img {
    width: 50%;
    height: 50%;
}


.more .info2 .farm , .more .info1 .Mystore {
    margin: 0 auto;
   width: 40%;
   border-bottom: 2px dashed white;
   font-family: "Sour Gummy", sans-serif;
   background-color:   rgb(0 130 64);
}

.more .info1 h1, .more .info2 h1{
    margin-bottom: 50px;
    font-size: 2rem;
}

.more .info1 p, .more .info2 p{
    line-height: 25px;
}

.more .map h1 {
    font-family: "Sour Gummy", sans-serif;
    font-size: 2rem;
    margin-top: 10px;
   text-align: center;
}

.more .map img{
   position: relative;
   left: 25%;
  margin-top: -40px;
    width: 50%;

}

/* contact section */
/* contact section */

.contact {
    font-family: "Sour Gummy", sans-serif;
    position: relative;
    display: flex;
    background-image: url(../img/bg-contact-transformed.jpeg);
    background-size: cover;
    border-top: 10px dashed rgb(255, 255, 255);
    height: 1000px;
}

.contact .container {
    width: 30%;

}

.contact h1{
    padding: 5px;
    font-size: 2.5rem;
}
 .contact h2 {
    margin-bottom: 50px;
}

.contact .mail ,.contact .call ,.contact .address {
    display: flex;
    align-items: center;
    padding: 10px;
}
.contact .mail p,.contact .call p,.contact .address p{
    margin-left: 10px;
    
    font-weight: bolder;
} 

.contact .row {
    display: flex;
    width: 70%;
    margin-top: 2rem;
}

.contact .row .map {
   
    width: 50%;
    object-fit: cover;
  }

  .contact .row form {
    width: 50%;
   height: 55.6%;
   border-radius: 5px;
    padding: 0 2rem;
    text-align: center;
    
    background: linear-gradient(to top left , yellow,var(--primary));
  }

  .contact .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--bg);
    border: 3px solid #eee;
    padding-left: 2rem;
    border-radius: 10px;
  }

  .contact .row form .input-group input {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.7rem;
    background:none;
    color: #fff;
  }

  .contact .row form button {
    margin-top: 1.5rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: var(--primary);
    cursor: pointer;
    border-radius: 5px;
  }
  

  /* footeer */

  footer {
    position: relative;
    width: 100%;
    background-color: var(--primary);
    border-radius: 15% 50% 0 0;
    margin-top: -250px;
    height: 400px;
    padding-top: 100px;
  }

footer .konten {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}

.konten .st-row img {
    position: absolute;
    top: 10px;
    left: 100px;
}
.konten .st-row .social {
    display: flex;
    gap: 2em;
    align-items: center;
}

.st-row, .nd-row, .rd-row, .th-row {
    margin-top: 20px; /* Atur sesuai kebutuhan */
}

footer p {
    margin-bottom: 10px; /* Atur jarak antar paragraf */
    margin-bottom: 10px;
}

footer h1, footer h3 {
    margin-bottom: 15px; /* Atur jarak antar heading dan teks berikutnya */
}

.konten .th-row span {
    display: inline-block;
    width: 50%;
    height: 50px;
    text-align: center;
    line-height: 50px;

    background-color: rgb(197, 242, 34);
    border-radius: 10px;
    transition: .5s ease-in-out;

}

.konten .th-row span:hover {
    transform: scale(1.1);
}


/* responsiv web  */

/* laptop */
@media (max-width : 1366px){
    html{
        font-size: 75%;
    }
}
/* tablet */

@media (max-width : 768px) {
    html{
        font-size: 62.5%;
    }

    #hamburger-menu{
        display: inline-block;
        cursor: pointer;
    }

    body {
        width: 100vh;
    }

    .navbar .navbar-logo {
        display: flex;
        flex-direction: column;
       align-items: center;
       padding-bottom: 20px;
    }

    .navbar .navbar-logo h1 {
        margin-top: -25px;
        
     }
/*         
    .navbar {
    width: 100%;
    } */

    .navbar .navbar-nav {
        position: absolute; 
        margin: 0;
        top: 100%;
        right: -100%;
        background-color: var(--primary);
        width: 30rem;
        height: 100vh;
        transition: .3s;
        margin-left: 0;
    }

    /* kelas active nya di pakai di javascript */
    .navbar .navbar-nav.active{
        right: 0;
    }

    .navbar .navbar-nav a {
        
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
        color: white;
    }

    .navbar .navbar-nav a::after{
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after{
        transform: scale(0.2);
    }
  
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .hero .conten h1 {
       margin-top: 200px;
       font-size: 60px;
       text-align: center;
    }
    
    .hero .conten img {
        width: 50%;
        height: 20%;
    }
    .hero .conten p {
        display: none;
    }

    .hero aside img {
        margin-top: -150px;
        width: 110%;
        height: 200%;
    }

    .promo .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
       
    }

   
    .promo  .container-card{
        align-items: center;
        height: 350px;
        width: 310px;
       margin: 20px auto;
       transition: .5s ease;
    }

    .promo  .container-card:nth-child(1):hover,.promo  .container-card:nth-child(2):hover,.promo  .container-card:nth-child(3):hover{
        transform: scale(1.2);
    }
    .promo  .container-card h2 {
        margin: 2px auto;
    }

    .promo  .container-card p {
        display: none;
    }

    .promo .container-card img {
        width: 280px;
        height: 300px;
    }

    .menu {
        border-radius: 0;
    }

    .menu .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu .wrap .card {
        margin: 10px;
        background-color: var(--bg);
    }

    .more .info1,.more .info2 {
        display: flex;
        align-items: center;
        flex-direction: column;
       margin: 20px;
       
    }

    .more .info1 .Mystore , .more .info2 .farm {
        width: 100%;
        height: 100%;
        margin-top: 20px;
    }
    
    .more .info1 img , .more .info2 img {
        width: 100%;
        height: 100%;
        order: 2;
        margin: 30px 0;
    }

    .more .map h1 {
        margin-top: 50px;
    }

    .more .map img {
        top: 30px;
       
    }
    
    /* .contact {
        display: flex;
        flex-direction: column;
    }

    .contact .container {
        width: 100%;
    }

    .contact .row {
        display: flex;
        flex-direction: column;
    } */
  
}


/* MOBI;E PHONE */
@media (max-width: 450px) {
    html {
      font-size: 55%;
    }

    
        
  }
  
  /* .navbar {
    width: 90%;
    }

    .navbar .navbar-logo {
        display: flex;
        flex-direction: column;
       align-items: center;
       padding-bottom: 20px;
    }

    .navbar .navbar-logo h1 {
        margin-top: -25px;
    } */